@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-Bold.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-BoldItalic.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-Italic.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-Light.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-LightItalic.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-Regular.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-SemiBold.ttf) format("opentype");
}
@font-face {
    font-family: Raleway;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/Raleway/Raleway-SemiBoldItalic.ttf) format("opentype");
}
