@font-face {
    font-family: RobotoSlab;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/RobotoSlab/RobotoSlab-Bold.ttf) format("opentype");
}
@font-face {
    font-family: RobotoSlab;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/RobotoSlab/RobotoSlab-Light.ttf) format("opentype");
}
@font-face {
    font-family: RobotoSlab;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/RobotoSlab/RobotoSlab-Regular.ttf) format("opentype");
}
@font-face {
    font-family: RobotoSlab;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./fonts/RobotoSlab/RobotoSlab-SemiBold.ttf) format("opentype");
}
